Repository escapace/fluent: changes, and which lint-staged commands are due for each by the changed paths.
All: syncpack-format --source, syncpack-set-semver-ranges --dev --source, prettier --write

.lintstagedrc.json:

{
  "package.json": [
    "syncpack-format --source",
    "syncpack-set-semver-ranges --dev --source"
  ],
  "*.md": ["prettier --write"],
  "{src,test,examples,perf}/**/*.ts?(x)": ["eslint --fix", "prettier --write"],
  "{src,test,examples,perf}/**/*.js?(x)": ["eslint --fix", "prettier --write"]
}

Notes added by 'git notes add'
  613884e2b475df086c45695d222086bf9d0c8010
Due: none

chore: remove @types/lodash
  package-lock.json
  package.json
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source

chore: remove @types/lodash
  .husky/commit-msg
  .husky/pre-commit
Due: none

fix(deps): bump typelevel
  package-lock.json
  package.json
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source

feat: externalize lodash
  package.json
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source

Notes added by 'git notes add'
  31af0ce5f96cd9516642beaf9a331133e3b5c114
Due: none

feat: typescript 5
  .editorconfig
  .eslintrc.json
  .github/codecov.yaml
  .github/dependabot.yaml
  .github/dependabot.yml
  .github/labeler.yaml
  .github/renovate.json5
  .github/workflows/dependency-review.yaml
  .github/workflows/labeler.yaml
  .github/workflows/release.yaml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/workflow-call-context.yaml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .syncpackrc.json
  README.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  release.config.cjs
  scripts/build.mjs
  scripts/constants.mjs
  scripts/release.mjs
  scripts/test.js
  scripts/test.mjs
  src/index.ts
  test/email/attachment.ts
  test/email/cc.ts
  test/email/index.ts
  test/email/types.ts
  test/failure-modes.spec.ts
  tsconfig-build.json
  tsconfig.json
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source, prettier --write

fix: publish to github packages
  .github/workflows/release.yaml
  .github/workflows/workflow-call-context.yaml
  README.md
  package.json
  pnpm-lock.yaml
  scripts/release.mjs
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source, prettier --write

fix: workflows
  .github/renovate.json5
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/retention-policy.yaml
  .github/workflows/workflow-call-ci.yaml
  .github/workflows/workflow-call-context.yaml
  .husky/pre-commit
  .syncpackrc.json
  package.json
  pnpm-lock.yaml
  scripts/build.mjs
  scripts/release.mjs
  scripts/test.mjs
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source

fix: updates
  .eslintrc.json
  .gitattributes
  .github/renovate.json5
  .syncpackrc.json
  package.json
  pnpm-lock.yaml
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source

fix: update package.json
  .syncpackrc.json
  package.json
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source

chore: update eslint configuration
  .eslintrc.json
Due: none

chore: updates
  .github/labeler.yaml
  .github/workflows/labeler.yaml
  package.json
  pnpm-lock.yaml
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source

chore: updates
  .github/codecov.yaml
  .github/dependabot.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/workflow-call-ci.yaml
  .github/workflows/workflow-call-context.yaml
  package.json
  pnpm-lock.yaml
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source

chore: eslint
  .eslintignore
  .eslintrc.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source

chore: eslint
  package.json
  pnpm-lock.yaml
  src/index.ts
  test/email.spec.ts
  test/email/attachment.ts
  test/email/cc.ts
  test/email/index.ts
  test/email/plugin.ts
  test/email/types.ts
  test/failure-modes.spec.ts
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source

fix: updates
  .c8rc.json
  .editorconfig
  .eslintignore
  .github/codecov.yaml
  .github/dependabot.yaml
  .github/workflows/ci.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/release.yaml
  .github/workflows/retention-policy.yaml
  .github/workflows/workflow-call-ci.yaml
  .github/workflows/workflow-call-context.yaml
  .gitignore
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .ls-lint.yaml
  .prettierignore
  .syncpackrc.json
  LICENSE
  eslint.config.mjs
  knip.json
  lefthook.yaml
  package.json
  pnpm-lock.yaml
  scripts/build.mjs
  scripts/build.ts
  scripts/constants.json
  scripts/constants.mjs
  scripts/test.mjs
  src/esroll.d.ts
  src/index.ts
  test/email.spec.ts
  test/failure-modes.spec.ts
  tsconfig-build.json
  tsconfig.json
  vitest.config.ts
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source

chore: updates
  .ls-lint.yaml
  knip.json
Due: none

feat: remove lodash-es
  .eslintignore
  .github/codecov.yaml
  .github/dependabot.yaml
  .github/renovate.json5
  .github/workflows/codeql-analysis.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/release.yaml
  .github/workflows/scorecard.yaml
  .gitignore
  .ls-lint.yaml
  .prettierignore
  LICENSE
  eslint.config.mjs
  knip.json
  lefthook.yaml
  package.json
  pnpm-lock.yaml
  scripts/build.ts
  scripts/constants.json
  src/esroll.d.ts
  src/index.ts
  test/email.spec.ts
  test/email/attachment.ts
  test/email/cc.ts
  test/email/index.ts
  test/email/plugin.ts
  test/email/types.ts
  test/failure-modes.spec.ts
  tsconfig.json
  vitest.config.neutral.ts
  vitest.config.ts
  vitest.workspace.ts
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source

fix: test
  package.json
  pnpm-lock.yaml
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source

fix: typelevel performance
  src/index.ts
Due: none

fix: perf
  src/index.ts
Due: none

fix: perf
  package.json
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source
